.interenal-css{
    background-color: rgb(221, 172, 155);
   
}

.table-1{
    width: 100%;
    border: 1px solid black;
    text-align: center;

}

.color{
    background-color: rgb(237, 166, 178);
    color: white;
}
